<div class="corsiaA">
    <div class="box">
      <div>A</div>
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+1}}</i>
        </button>
      </div>
    </div>
    <div class="box" style="margin-top: 22px;">
      <div style="margin-left: 2px;">A</div>
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+7}}</i>
        </button>
      </div>
    </div>
  </div>
