<!-- <nz-breadcrumb>
    <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
        <i nz-icon nzType="dashboard"></i>
        <a>{{'dashboard.title' | translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="handleOnNavigate('dashboard/my-profile')">
        <a>{{'profile.title' | translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'changePassword.title' | translate}}</nz-breadcrumb-item>
</nz-breadcrumb> -->
<!-- <warehouse-breadcrumb [items]="breadcrumbItems"></warehouse-breadcrumb> -->
<div class="warehouse-change-password-wrapper container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col-md-12 change-password-profile">
                    <nz-avatar *ngIf="!profileURL" class="profile-avatar" [nzSize]="100" nzIcon="user">
                    </nz-avatar>
                    <nz-avatar *ngIf="profileURL" class="profile-avatar" [nzSize]="100" [nzSrc]="profileURL">
                    </nz-avatar>
                </div>
            </div>
            <div class="row" [ngClass]="(isAuth || isSuccess) ? 'mt-5' : 'mt-0'">
                <div class="col-md-12" *ngIf="isAuth">
                    <warehouse-alert [typeAlert]="alertType" [descriptionAlert]="messageAlert">
                    </warehouse-alert>
                </div>
                <div class="col-md-12" *ngIf="isSuccess">
                    <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert"
                        [descriptionModal]="descriptionAlert" (handleOnOkModal)="handleOnOkModal($event)">
                    </warehouse-modal>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="change-password-form" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="'changePassword.oldPassword.required' | translate">
                                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="oldPasswordTemplate">
                                    <input [type]="oldPasswordVisible ? 'text' : 'password'" nz-input
                                        formControlName="oldPassword"
                                        [placeholder]="'changePassword.oldPassword.placeholder' | translate"
                                        (click)="handleOnChangeInput()" />
                                </nz-input-group>
                                <ng-template #oldPasswordTemplate>
                                    <i nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="oldPasswordVisible = !oldPasswordVisible"></i>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="'login.password.required' | translate" nz-popover
                                [nzPopoverTitle]="'login.password.popover.title' | translate"
                                [nzPopoverContent]="securityTemplate" nzPopoverPlacement="right">
                                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordTemplate">
                                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                        formControlName="password"
                                        [placeholder]="'login.password.placeholder' | translate"
                                        (ngModelChange)="handleOnChangePassword()" (click)="handleOnChangeInput()" />
                                </nz-input-group>
                                <ng-template #passwordTemplate>
                                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"></i>
                                </ng-template>
                                <ng-template #securityTemplate>
                                    <warehouse-secure-password [password]="password"
                                        (notifyOnPassword)="handleOnNotifyPassword($event)"></warehouse-secure-password>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="'register.confirmPassword.required' | translate">
                                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="confirmPasswordTemplate">
                                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input
                                        formControlName="confirmPassword"
                                        [placeholder]="'register.confirmPassword.placeholder' | translate"
                                        (click)="handleOnChangeInput()" />
                                </nz-input-group>
                                <ng-template #confirmPasswordTemplate>
                                    <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <button nz-button [disabled]="!validateForm.valid || !isSecurePassword" nzBlock
                            class="change-password-form-button change-password-form-margin" [nzType]="'primary'">
                            <i nz-icon nzType="lock" nzTheme="twotone"></i>{{'changePassword.cta' | translate}}</button>
                        <nz-divider class="warehouse-background-sliver"></nz-divider>
                        <button nz-button nzBlock (click)="handleOnBack()" class="warehouse-btn-outline-danger" nzType="primary"
                            nzDanger>
                            <i nz-icon nzType="left" nzTheme="outline"></i>{{'dashboard.cta.back' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="isExpiredToken">
        <div class="col">
            <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert"
                [descriptionModal]="descriptionAlert" (handleOnOkModal)="handleOnOkModal($event)"></warehouse-modal>
        </div>
    </div>
</div>