.warehouse-change-password-wrapper {
  .change-password-form {
    //max-width: 300px;
    i {
      cursor: pointer;
    }
  }

  .change-password-form-margin {
    margin-bottom: 0;
  }

  .change-password-form-button {
    width: 100%;
  }

  .change-password-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-avatar {
      width: 150px;
      height: 150px;
      border: 5px solid var(--warehouse-primary);
    }
  }
}
