<nz-breadcrumb>
    <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
        <i nz-icon nzType="dashboard"></i>
        <a>Dashboard</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="handleOnNavigate('dashboard/my-profile')">
        <a>My Profile</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Change Password</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="warehouse-change-password-wrapper container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="row mt-5">
                <div class="col-md-12" *ngIf="isError">
                    <warehouse-alert [typeAlert]="alertType" [descriptionAlert]="messageAlert">
                    </warehouse-alert>
                </div>
                <div class="col-md-12" *ngIf="isSuccess">
                    <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert"
                        [descriptionModal]="descriptionAlert" (handleOnOkModal)="handleOnOkModal($event)">
                    </warehouse-modal>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="change-password-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Your current password is required">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="oldPasswordTemplate">
                            <input [type]="oldPasswordVisible ? 'text' : 'password'" nz-input
                                formControlName="oldPassword" placeholder="Old password"
                                (click)="handleOnChangeInput()" />
                        </nz-input-group>
                        <ng-template #oldPasswordTemplate>
                            <i nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
                                (click)="oldPasswordVisible = !oldPasswordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Your password is required">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordTemplate">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                                placeholder="Password" (click)="handleOnChangeInput()" />
                        </nz-input-group>
                        <ng-template #passwordTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please confirm your password">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="confirmPasswordTemplate">
                            <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input
                                formControlName="confirmPassword" placeholder="Confirm password"
                                (click)="handleOnChangeInput()" />
                        </nz-input-group>
                        <ng-template #confirmPasswordTemplate>
                            <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [disabled]="!validateForm.valid" nzBlock
                    class="change-password-form-button change-password-form-margin" [nzType]="'primary'">
                    <i nz-icon nzType="lock" nzTheme="twotone"></i>Change password</button>
            </form>
        </div>
    </div>
</div>