.warehouse-change-password-wrapper {
  .change-password-form {
    //max-width: 300px;
    i {
      cursor: pointer;
    }
  }

  .change-password-form-margin {
    margin-bottom: 16px;
  }

  .change-password-form-button {
    width: 100%;
  }
}
