<nz-breadcrumb>
    <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
        <i nz-icon nzType="dashboard"></i>
        <a>Dashboard</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>rack</nz-breadcrumb-item>
    <nz-breadcrumb-item class="onPointer" nz-button nz-popover nzType="primary" nzPopoverPlacement="top" nzPopoverContent={{message}}{{rackName.toLocaleUpperCase()}}  (click)="handleOnRack(rackName)">{{rackName.toLocaleUpperCase()}}</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{rackNumber}}</nz-breadcrumb-item>
</nz-breadcrumb>
<p *ngIf="!racks.length"><loading [typeLoad]="'info'"></loading></p>
<p>
    <rackTable *ngIf="!!racks.length" [racks]="racks" [typeProduct]="categorieFinale"></rackTable> rack:{{rackName.toLocaleUpperCase()}} ,number:{{rackNumber}}
</p>

