<div class="col-md-6 warehouse-auth-left">
  <div class="ops-welcome">
    <div class="top-menu"><a href="https://www.opsgenie.com" class="opsgenie-home"></a> <a
        href="https://www.opsgenie.com/docs" class="lined-link">Docs</a> <a
        href="https://www.opsgenie.com/contact-us" class="lined-link">Support</a> <a
        href="https://www.opsgenie.com/news" class="lined-link">News</a></div>
    <div class="bottom-part">
      <div class="welcome">
        <h1 class="welcome-text">Welcome to Opsgenie</h1>
        <p>Actionable notifications routed intelligently to the right people at the right time!</p>
      </div>
      <div class="whats-new" style="display: block;">
        <div class="topic-tag green">FROM THE BLOG</div>
        <div class="text-frame"><a
            href="https://www.atlassian.com/blog/opsgenie/find-the-right-incident-management-kpis" target="_blank">
            <h2>Flip your thinking to find the right incident management KPIs</h2>
            <p>Setting and tracking key performance indicators based on the right data can help incident management
              teams reduce the impact of incidents and strengthen the business. </p>
          </a></div>
        <div class="text-frame"><a
            href="https://www.atlassian.com/blog/opsgenie/best-practices-for-slack-and-opsgenie" target="_blank">
            <h2>Best practices for managing alerts with Slack and Opsgenie</h2>
            <p>When Opsgenie and Slack team up, incident management is smoother and more intuitive. With this
              powerful integration, users are enabled to rapidly respond to and resolve alerts directly from Slack.
            </p>
          </a></div>
        <div class="text-frame"><a href="https://www.atlassian.com/blog/opsgenie/5-ways-to-reduce-alert-fatigue"
            target="_blank">
            <h2>5 ways to reduce alert fatigue</h2>
            <p>If your phone is constantly interrupting your beauty sleep with false alarms, you eventually stop
              paying attention. And once faith is lost in alerting, you start to assume that every alert is false,
              and inevitably issues are missed.</p>
          </a></div>
      </div>
    </div>
  </div>
</div>
