<div class="single-corsia">
    <div class="box first-box">
        <div class="box-name">{{name}}</div>
        <div *ngFor="let row of rows | slice:0:6">
            <button class="btn btn-default size" (click)="onSelecteCorsia(row)">
                <i class="bi bi-shop-window">{{row.row}}</i>
            </button>
        </div>
    </div>
    <div class="box second-box">
        <div class="box-name">{{name}}</div>
        <div *ngFor="let row of rows | slice:6:12">
            <button class="btn btn-default size" (click)="onSelecteCorsia(row)">
                <i class="bi bi-shop-window">{{row.row}}</i>
            </button>
        </div>
    </div>
</div>