.ant-form {
  margin: 20px !important;
  padding: 35px !important;
  border-radius: var(--warehouse-border-radius-one);
  box-shadow: var(--warehouse-box-shadow);
  background: var(--warehouse-white);
}

.anticon {
  top: -4px;
  position: relative;
}

.anticon-down {
  top: 0px !important;
  position: relative;
}

.ant-layout-sider {
  //background: inherit !important;
}

.ant-input-prefix,
.ant-input-suffix {
  justify-content: center !important;
  align-items: flex-end !important;
  display: flex !important;
  top: -2px;
  position: relative;
}

.ant-form-item-label > label::after {
  content: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-picker {
  width: 100% !important;
}

.ant-input-disabled,
.ant-input[disabled] {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--warehouse-primary) !important;
}

.ant-menu-vertical.ant-menu-sub:not([class*='-active']) {
  right: 30px !important;
  position: relative;
}