.ant-form {
  margin: 20px !important;
  padding: 35px !important;
  border-radius: var(--warehouse-border-radius-one);
  box-shadow: var(--warehouse-box-shadow);
  background: var(--warehouse-white);
}
