.ant-form {
  margin: 20px !important;
  padding: 35px !important;
  border-radius: var(--warehouse-border-radius-one);
  box-shadow: var(--warehouse-box-shadow);
  background: var(--warehouse-white);
}

.anticon {
  top: -4px;
  position: relative;
}

.anticon-down {
  top: 0px !important;
  position: relative;
}

.ant-input-prefix,
.ant-input-suffix {
  justify-content: center !important;
  align-items: flex-end !important;
  display: flex !important;
  top: -2px;
  position: relative;
}

.ant-form-item-label > label::after {
  content: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-picker {
  width: 100% !important;
}

.ant-input-disabled,
.ant-input[disabled] {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--warehouse-primary) !important;
}
.ant-input-affix-wrapper-disabled {
  opacity: 0.6 !important;
}

.ant-menu-vertical.ant-menu-sub:not([class*="-active"]) {
  right: 30px !important;
  position: relative;
}

.ant-badge-status-dot {
  width: 25px !important;
  height: 25px !important;
  border: 5px solid var(--warehouse-white);
}

.ant-dropdown-menu-item {
  .anticon {
    right: 5px;
    position: relative;
    top: 0 !important;
  }
}

/* Angular Editor */
.angular-editor {
  .angular-editor-wrapper {
    .angular-editor-textarea {
      &:hover {
        border-color: #40a9ff !important;
        border-right-width: 1px !important;
      }
      &:focus {
        border-color: #40a9ff !important;
        box-shadow: 0 0 0 2px rgb(24 144 255 / 20%) !important;
        border-right-width: 1px !important;
        outline: 0;
      }
    }
  }
}
