// Variabiles
:root {
    --warehouse-tomato: #d12420;
    --warehouse-white: #ffffff;
    --warehouse-white-smoke: #f2f2f2;
    --warehouse-warm-gray-20: #f3f2ef;
    --warehouse-black: #000000;
    --warehouse-night-rider: #323232;
    --warehouse-sliver: #e0e0e1;
    --warehouse-primary: #1890ff;
    --warehouse-secondary: #01254c;
    --warehouse-dark: #001529;
    --warehouse-yellow-amber: #ffc107;
    --warehouse-default: #63666a;
    --warehouse-success: #2a7a39;
    --warehouse-warning: #fa9600;
    --warehouse-danger: #f55854;
    --warehouse-info: #0096c8;
    --warehouse-egyptian-blue: #f1faff;
    --warehouse-floral-white: #fffbe9;
    --warehouse-mint-cream: #ddffeb;
    --warehouse-misty-rose: #ffd6d6;
    --warehouse-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --warehouse-transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
    --warehouse-border-radius-one: 5px;
    --warehouse-border-radius-two: 21px;
    --warehouse-border-radius-three: 100%;
  }