.multilanguage-wrapper {
  margin: 0 8px 10px 0;
  width: 125px;
  cursor: pointer;
  .ant-select-arrow {
    .anticon-down {
      top: 20px !important;
      position: relative;
    }
  }
}

.multilanguage-img {
  width: 17px;
  height: 13px;
  top: -2px;
  position: relative;
}
