.warehouse-users-wrapper {
  position: relative;
  padding: 20px 0;
  .warehouse-users-filter {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.ant-dropdown-menu-item {
  .anticon {
    right: 5px;
    position: relative;
    top: 0 !important;
  }
}

.profile-verified {
  font-weight: 600;
  color: var(--warehouse-white) !important;
  border-radius: var(--warehouse-border-radius-two);
  padding: 2px 10px;
  font-size: 13px;
}

[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}