<nz-breadcrumb>
  <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
    <i nz-icon nzType="dashboard"></i>
    <a>Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>All users</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="warehouse-users-wrapper container-fluid">
  <div class="row" *ngIf="isAuth">
    <div class="col">
      <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert">
      </warehouse-notification>
    </div>
  </div>
  <div [formGroup]="searchForm" class="row warehouse-users-filter">
    <div class="col-md-1">
      <button nz-button nzType="primary" class="mt-2" (click)="handleOnResetFilter()">
        <i nz-icon nzType="clear" nzTheme="outline"></i>
        {{ "dashboard.dataTable.options.reset" | translate }}
      </button>
    </div>
    <div class="col-md-2">
      <nz-form-label nzFor="status">{{"dashboard.dataTable.status.title" | translate }}
      </nz-form-label>
      <nz-form-item>
        <nz-form-control>
          <nz-select ngModel="all" [nzPlaceHolder]="'dashboard.dataTable.status.placeholder'| translate"
            formControlName="status" (ngModelChange)="handleOnSearchUsers()">
            <nz-option *ngFor="let status of listOfStatus" [nzValue]="status?.value" nzLabel="{{status?.label}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-2">
      <nz-form-label nzFor="role">{{"register.role.title" | translate }}
      </nz-form-label>
      <nz-form-item>
        <nz-form-control>
          <nz-select ngModel="all" [nzPlaceHolder]="'register.role.placeholder'| translate" formControlName="role"
            (ngModelChange)="handleOnSearchUsers()">
            <nz-option *ngFor="let role of listOfRoles" [nzValue]="role?.value" nzLabel="{{role?.label}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-4 offset-md-3 mb-2">
      <nz-form-label></nz-form-label>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="search" [nzSuffix]="inputClearTpl">
            <input type="text" [(ngModel)]="search" nz-input formControlName="search"
              [placeholder]="'dashboard.dataTable.options.search' | translate" (input)="handleOnSearchUsers()" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search"
              (click)="handleOnSearchClear()"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="allUsers"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
      <thead>
        <tr>
          <!-- <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"></th> -->
          <th>{{ "profile.personalData.userId" | translate }}</th>
          <!-- <th>{{ "register.username.title" | translate }}</th>
          <th>{{ "register.gender.placeholder" | translate }}</th> -->
          <th>{{ "profile.personalData.fullname" | translate }}</th>
          <th>{{ "register.email.placeholder" | translate }}</th>
          <th>{{ "profile.roles" | translate }}</th>
          <th>Status</th>
          <th>{{ "profile.personalData.dateOfBorn" | translate }}</th>
          <th>{{ "profile.lastLogin" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
          <td>{{ data.user.userId }}</td>
          <!-- <td>{{ data.user.username }}</td>
          <td>{{ data.user.gender }}</td> -->
          <td>{{ data.user.fullname }}</td>
          <td>{{ data.user.email }}</td>
          <td>
            <nz-tag *ngFor="let role of data.user.roles" [nzColor]="getUserColorRole(role)">
              <i nz-icon [nzType]="getRoleIcon(role)"></i>
              {{ getRoleName(role)}}
            </nz-tag>
          </td>
          <td>
            <span class="profile-verified"
              [ngClass]="data.user?.active ? 'warehouse-background-success' : 'warehouse-background-tomato'">
              <i nz-icon nzType="{{data.user?.active ? 'check-circle' : 'close-circle'}}" nzTheme="outline"></i>
              {{(data.user?.active ? "profile.verified" : "profile.notVerified") | translate}}
            </span>
          </td>
          <td>{{ data.user.dateOfBirth }}</td>
          <td>{{ data.user.lastLogin }}</td>
          <td>
            <button nz-button nz-dropdown [nzDropdownMenu]="options" nzType="primary">
              {{ "dashboard.dataTable.options.title" | translate }}
              <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #options="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="handleOnShow(data.user)"><i nz-icon nzType="eye" nzTheme="twotone"></i> {{
                  "dashboard.dataTable.options.show" |
                  translate }}</li>
                <li nz-menu-item (click)="handleOnEdit(data.user)"><i nz-icon nzType="edit" nzTheme="twotone"></i> {{
                  "dashboard.dataTable.options.edit" |
                  translate }}</li>
                <li nz-menu-item (click)="handleOnDelete(data.user)"><i nz-icon nzType="delete" nzTheme="twotone"></i> {{
                  "dashboard.dataTable.options.delete" | translate }}</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="row">
    <div class="col">
      <nz-drawer [nzVisible]="visibleDrawer" nzPlacement="right" [nzTitle]="titleDrawer"
        (nzOnClose)="handleOncloseDrawer()">
        <ng-container *nzDrawerContent>
          <warehouse-profile [mode]="mode" [user]="userDatatable"></warehouse-profile>
        </ng-container>
      </nz-drawer>
    </div>
  </div>
</div>