<nz-breadcrumb>
  <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
      <i nz-icon nzType="dashboard"></i>
      <a>Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
      <a>All users</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="warehouse-users-wrapper container-fluid">
    <div class="row">
      <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="allUsers"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
          <tr>
            <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"></th>
            <th>Id user</th>
            <th>Username</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Date of birth</th>
            <th>Last Login</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.userId }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.fullname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ rolesUser(data.roles) }}</td>
            <td>{{ data.dateOfBirth }}</td>
            <td>{{ data.lastLogin }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
