<nz-breadcrumb>
  <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
    <i nz-icon nzType="dashboard"></i>
    <a>Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>All users</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="warehouse-users-wrapper container-fluid">
  <div class="row" *ngIf="isAuth">
    <div class="col">
      <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert">
      </warehouse-notification>
    </div>
  </div>

  <!-- Advanced Filter -->
  <warehouse-advanced-filters [warehouseUsers]="warehouseUsers" [tmpUsers]="tmpUsers" [headersTable]="usersHeaderTable"
    (handleOnNotifyHeadersTable)="handleOnHeadersTable($event)"
    (handleOnNotifyUsersFiltered)="handleOnUsersFiltered($event)" (handleOnNotifyResetFilter)="handleOnResetFilter()">
  </warehouse-advanced-filters>

  <div class="row mt-4">
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="allUsers">
      <thead *ngIf="!!usersHeaderTable?.length">
        <tr>
          <th *ngFor="let userHeaderTable of usersHeaderTable"
            [ngClass]="!userHeaderTable?.show ? 'warehouse-header-hidden' : ''">
            <span>{{ userHeaderTable.title }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index;">
          <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
          <td [ngClass]="!usersHeaderTable[0].show ? 'warehouse-header-hidden' : ''"><b>{{ data.user.userId }}</b></td>
          <!-- <td>{{ data.user.username }}</td>
          <td>{{ data.user.gender }}</td> -->
          <td [ngClass]="!usersHeaderTable[1].show ? 'warehouse-header-hidden' : ''">{{ data.user.fullname }}</td>
          <td [ngClass]="!usersHeaderTable[2].show ? 'warehouse-header-hidden' : ''">{{ data.user.email }}</td>
          <td [ngClass]="!usersHeaderTable[3].show ? 'warehouse-header-hidden' : ''">
            <span class="profile-verified"
              [ngClass]="data.user?.active ? 'warehouse-background-success' : 'warehouse-background-tomato'">
              <i nz-icon nzType="{{data.user?.active ? 'check-circle' : 'close-circle'}}" nzTheme="outline"></i>
              {{(data.user?.active ? "profile.verified" : "profile.notVerified") | translate}}
            </span>
          </td>
          <td [ngClass]="!usersHeaderTable[4].show ? 'warehouse-header-hidden' : ''">
            <nz-tag *ngFor="let role of data.user.roles" [nzColor]="getUserColorRole(role)">
              <i nz-icon [nzType]="getUserRoleIcon(role)"></i>
              {{ getUserRoleName(role)}}
            </nz-tag>
          </td>
          <td [ngClass]="!usersHeaderTable[5].show ? 'warehouse-header-hidden' : ''" class="text-center">
            <nz-badge nz-tooltip nzTooltipTitle="{{formatObjectStatus(data.userInfo.status)}}"
              nzTooltipPlacement="bottomLeft" nzStatus="{{ getObjectStatus(data.userInfo.status) }}"></nz-badge>
          </td>
          <td [ngClass]="!usersHeaderTable[6].show ? 'warehouse-header-hidden' : ''">{{ data.user.dateOfBirth }}</td>
          <td [ngClass]="!usersHeaderTable[7].show ? 'warehouse-header-hidden' : ''">{{ data.user.lastLogin }}</td>
          <td>
            <button nz-button nz-dropdown [nzDropdownMenu]="options" nzType="primary">
              {{ "dataTable.options.title" | translate }}
              <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #options="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="handleOnStatus(data)"><i nz-icon nzType="right-circle" nzTheme="twotone"></i>
                  {{
                  "dataTable.options.status" |
                  translate }}</li>
                <li nz-menu-item (click)="handleOnShow(data.user)"><i nz-icon nzType="eye" nzTheme="twotone"></i> {{
                  "dataTable.options.show" |
                  translate }}</li>
                <li nz-menu-item (click)="handleOnEdit(data.user)"><i nz-icon nzType="edit" nzTheme="twotone"></i> {{
                  "dataTable.options.edit" |
                  translate }}</li>
                <li nz-menu-item (click)="handleOnDelete(data.user)"><i nz-icon nzType="delete" nzTheme="twotone"></i>
                  {{
                  "dataTable.options.delete" | translate }}</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="row">
    <div class="col">
      <!-- Section Show Profile -->
      <nz-drawer [nzWidth]="sizeDrawer" [nzVisible]="visibleDrawerShow" nzPlacement="right" [nzTitle]="titleDrawer"
        (nzOnClose)="handleOnCloseDrawer()">
        <ng-container *nzDrawerContent>
          <warehouse-profile [mode]="mode" [userProfile]="userDatatable"></warehouse-profile>
        </ng-container>
      </nz-drawer>
      <!-- Section Change Status Profile -->
      <nz-drawer *ngIf="userDatatable" [nzClosable]="false" [nzVisible]="visibleDrawerStatus" nzPlacement="right"
        [nzTitle]="titleDrawer" [nzFooter]="nzDrawerFooter" (nzOnClose)="handleOnCloseDrawer()">
        <ng-container *nzDrawerContent>
          <p>{{ "operation.confirmation.change.firstText" | translate }} <b>{{userDatatable.userId }}</b>{{
            "operation.confirmation.change.secondText" | translate }} <b
              class="warehouse-tomato">{{formatObjectStatus(userDatatable.userInfo.status)}}.</b>
          </p>
          <p>{{"operation.confirmation.change.thirdText" | translate }} </p>
          <nz-radio-group [(ngModel)]="userStatusSelected">
            <label nz-radio [nzDisabled]="userDatatable.userInfo.status === 'active'" nzValue="active">{{
              "dataTable.status.active" | translate }}</label>
            <label nz-radio [nzDisabled]="userDatatable.userInfo.status === 'pending'" nzValue="pending">{{
              "dataTable.status.pending" | translate }}</label>
            <label nz-radio [nzDisabled]="userDatatable.userInfo.status === 'disabled'" nzValue="disabled">{{
              "dataTable.status.disabled" | translate }}</label>
          </nz-radio-group>
        </ng-container>
        <ng-template #nzDrawerFooter>
          <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="handleOnCloseDrawer()"><i nz-icon nzType="left"
                nzTheme="outline"></i> {{ "dashboard.cta.back" | translate }}</button>
            <button nz-button nzType="primary" [disabled]="userStatusSelected === userDatatable.userInfo.status"
              (click)="handleOnChangeStatus()"><i nz-icon nzType="check-circle" nzTheme="outline"></i> {{
              "dashboard.cta.edit" | translate }}</button>
          </div>
        </ng-template>
      </nz-drawer>
    </div>
  </div>
</div>
