.warehouse-users-wrapper {
  position: relative;
  padding: 20px 0;
  .warehouse-users-filter {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.ant-dropdown-menu-item {
  .anticon {
    right: 5px;
    position: relative;
    top: 0 !important;
  }
}
