<nz-header class="dashboard-header-wrapper">
    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="handleOnCollapsed(!isCollapsed)"></i>
    <div class="dashboard-header-right">
        <ul nz-menu nzMode="horizontal" class="dashboard-header-menu">
            <div class="row" *ngIf="isAuth">
                <div class="col">
                    <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert"
                        [descriptionNotification]="descriptionAlert">
                    </warehouse-notification>
                </div>
            </div>
            <div class="row" *ngIf="isExpiredToken">
                <div class="col">
                    <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert"
                        [descriptionModal]="descriptionAlert" (handleOnOkModal)="handleOnOkModal($event)">
                    </warehouse-modal>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <warehouse-multilanguage></warehouse-multilanguage>
                </div>
                <div class="col dashboard-user-profile-container">
                    <li nz-menu-item nzTooltipTitle="{{'profile.notifications' | translate }}"
                        (click)="handleOnShowNotification()" nzTooltipPlacement="bottom" nz-button nz-tooltip>
                        <nz-badge [nzCount]="99">
                            <i nz-icon class="dashboard-header-notifications" nzType="notification"
                                nzTheme="twotone"></i>
                        </nz-badge>
                    </li>
                    <li nz-menu-item nzTooltipTitle="{{'profile.help' | translate }}" nzTooltipPlacement="bottom"
                        (click)="handleOnDrawerHelp()" nz-button nz-tooltip>
                        <i nz-icon class="dashboard-header-help" nzType="question-circle" nzTheme="twotone"></i>
                    </li>
                    <warehouse-header-help *ngIf="visibleDrawerHelp" [visible]="visibleDrawerHelp"
                        [title]="titleDrawerHelp" (handleOnNotifyCloseDrawerHelp)="handleOnCloseDrawerHelp()">
                    </warehouse-header-help>
                    <li nz-menu-item nzTooltipTitle="{{'profile.quickLinks' | translate }}" nzTooltipPlacement="bottom"
                        nz-button nz-tooltip>
                        <span nz-icon class="dashboard-header-quick-links" nzType="appstore" nzTheme="twotone"></span>
                    </li>
                    <li nz-menu-item class="dashboard-user-profile-row">
                        <nz-avatar *ngIf="!imgURL" class="dashboard-user-profile-avatar" [nzSize]="50" nzIcon="user">
                        </nz-avatar>
                        <nz-avatar *ngIf="imgURL" class="dashboard-user-profile-avatar" [nzSize]="50" [nzSrc]="imgURL">
                        </nz-avatar>
                    </li>
                    <li nz-submenu nzTitle="{{dataUser?.username}}" class="dashboard-header-icon">
                        <ul class="dashboard-header-menu-items">
                            <li nz-menu-item (click)="handleOnNavigate('dashboard/my-profile')">
                                <i nz-icon nzType="user"></i>
                                <span>{{ 'profile.title' | translate }}</span>
                            </li>
                            <li nz-menu-item (click)="handleOnNavigateWithParams('dashboard/manage/account')">
                                <i nz-icon nzType="account-book"></i>
                                <span>{{ 'profile.account.settings' | translate }}</span>
                            </li>
                            <li nz-menu-item (click)="handleOnNavigate('dashboard/settings')">
                                <i nz-icon nzType="setting"></i>
                                <span>{{ 'profile.preferences' | translate }}</span>
                            </li>
                            <nz-divider class="warehouse-not-margin"></nz-divider>
                            <li nz-menu-item (click)="handleOnLogout()">
                                <i nz-icon nzType="logout" nzTheme="outline"></i>
                                <span>{{ 'dashboard.cta.logout' | translate }}</span>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</nz-header>
<warehouse-header-notifications [showNotifications]="visibleShowNotifications"
    (OnNotifyNotifications)="handleOnNotifyNotifications($event)"></warehouse-header-notifications>