.dashboard-header-wrapper {
  background: var(--warehouse-white);
  padding: 0;
  display: flex;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: var(--warehouse-primary);
    }
  }
  .dashboard-header-right {
    display: flex;
    float: right;
    right: 30px;
    position: absolute;
    .dashboard-header-notifications {
      font-size: 25px;
      top: 0px;
      left: -10px;
    }
    .dashboard-header-help,
    .dashboard-header-quick-links {
      font-size: 25px;
      top: 0px;
    }
    .dashboard-user-profile-container {
      display: flex;
      .dashboard-user-profile-row {
        padding-right: 0;
        .dashboard-user-profile-avatar {
          position: relative;
          left: 0;
        }
      }
    }
  }
}

warehouse-header-notifications {
  width: 540px;
  height: auto;
  display: flex;
  float: right;
  right: 20%;
  position: absolute;
  z-index: 1;
}
