<div class="security-template-wrapper">
    <p>{{ 'securePassword.title' | translate }} <nz-progress [nzPercent]="progressPercent"
        [nzStatus]="progressStatus" [nzShowInfo]="false"></nz-progress>
    </p>
    <p [ngClass]="hasLowerCase ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasLowerCase ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> {{ 'securePassword.lowercase' | translate }}</p>
    <p [ngClass]="hasUpperCase ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasUpperCase ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> {{ 'securePassword.uppercase' | translate }}</p>
    <p [ngClass]="hasNumber ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasNumber ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> {{ 'securePassword.number' | translate }}</p>
    <p [ngClass]="hasSpecialCharacter ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasSpecialCharacter ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> {{ 'securePassword.character' | translate }}
    </p>
    <p [ngClass]="hasCorrectLength ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasCorrectLength ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> {{ 'securePassword.length' | translate }}</p>
</div>