<div class="security-template-wrapper">
    <p>For your password security, use one password that content a least: <nz-progress [nzPercent]="progressPercent"
        [nzStatus]="progressStatus" [nzShowInfo]="false"></nz-progress>
    </p>
    <p [ngClass]="hasLowerCase ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasLowerCase ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> 1 lowercase letter</p>
    <p [ngClass]="hasUpperCase ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasUpperCase ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> 1 uppercase letter</p>
    <p [ngClass]="hasNumber ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasNumber ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> 1 number</p>
    <p [ngClass]="hasSpecialCharacter ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasSpecialCharacter ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> 1 special character
    </p>
    <p [ngClass]="hasCorrectLength ? 'warehouse-success' : 'warehouse-tomato'"><i nz-icon
            [nzType]="hasCorrectLength ? 'check-circle' : 'close-circle'" nzTheme="outline"></i> Between 8 and 30 characters</p>
</div>