<div class="row" style="justify-content: center;">
    <div class="column">
    <corsiaA></corsiaA>
    </div>
    <div class="columnBC">
     <corsiaB></corsiaB>
    </div>
    <div class="column">
    <corsiaC></corsiaC>
    </div>
    <div class="columnBC">
    <corsiaD></corsiaD>
    </div>
    <div class="column">
      <corsiaE></corsiaE>
    </div>
    <div class="columnBC">
      <corsiaF></corsiaF>
    </div>
    <div class="column">
      <corsiaG></corsiaG>
    </div>
    <div class="columnBC">
      <corsiaH></corsiaH>
    </div>
    <div class="column">
      <corsiaI></corsiaI>
    </div>
    <div class="columnBC">
      <corsiaJ></corsiaJ>
    </div>
    <div class="column">
      <corsiaK></corsiaK>
    </div>
    <div class="columnBC">
      <corsiaL></corsiaL>
    </div>
    <div class="column">
      <corsiaM></corsiaM>
    </div>
    <div class="column">
      <corsiaN></corsiaN>
    </div>
  </div>
   <corsiaP></corsiaP>