.dashboard-footer-wrapper {
  text-align: left;
  .dashboard-footer-left {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .dashboard-footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    .dashboard-footer-center-items {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      .dashboard-footer-center-item {
        font-size: 15px;
        color: var(--warehouse-primary);
        font-weight: 500;
        &:not(:first-child) {
          &::before {
            content: "\00A0 \2022";
            padding: 0 5px;
          }
        }
        .dashboard-footer-center-item-link {
          text-decoration: none;
          position: relative;
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.1rem;
            background-color: var(--warehouse-primary);
            transform-origin: right center;
            transform: scale(0, 1);
            transition: transform 0.3s ease;
            bottom: -5px;
          }
          &:hover {
            color: var(--warehouse-primary);
            &::before {
              transform-origin: left center;
              transform: scale(1, 1);
              bottom: -5px;
            }
          }
        }
      }
    }
  }
  .dashboard-footer-right {
    .dashboard-footer-right-socials {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .dashboard-footer-right-social {
        font-size: 25px;
        &:hover {
          opacity: 0.6;
        }
        .dashboard-footer-right-social-facebook {
          color: #435f9f;
        }
        .dashboard-footer-right-social-twitter {
          color: #00aaf0;
        }
        .dashboard-footer-right-social-linkedin {
          color: #0a66c2;
        }
      }
    }
  }
}
