warehouse-multilanguage {
  right: 0;
  margin: 25px;
  position: absolute;
}

.warehouse-auth-wrapper {
  text-align: inherit;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .reset-password-form {
    //max-width: 300px;
    .forgot-password-form-text {
      text-align: justify;
    }
    i {
      cursor: pointer;
    }
  }

  .reset-password-form-margin {
    margin-bottom: 16px;
  }

  .reset-password-form-button {
    width: 100%;
  }
}
