<warehouse-multilanguage></warehouse-multilanguage>
<div class="warehouse-auth-wrapper container">
    <div class="row text-center">
        <div class="col">
            <h2 nz-typography>Reset Password Page</h2>
        </div>
    </div>
    <div class="row" *ngIf="isExpiredLink || isResetPassword">
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col" *ngIf="isAuth">
                    <warehouse-alert [typeAlert]="alertType" [messageAlert]="messageAlert">
                    </warehouse-alert>
                    <nz-divider nzDashed nzText="Resend again the link?"></nz-divider>
                    <button nz-button nzType="primary" (click)="handleOnSendLink()" nzBlock>
                        <i nz-icon nzType="left" nzTheme="outline"></i>Send new link</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!isExpiredLink && !isResetPassword">
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col" *ngIf="isAuth">
                    <warehouse-notification [typeNotification]="alertType" [descriptionNotification]="descriptionAlert" [messageNotification]="messageAlert">
                    </warehouse-notification>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="reset-password-form" (ngSubmit)="submitForm()">
                <div class="row text-center">
                    <div class="col">
                        <h3 nz-typography>Welcome</h3>
                        <h2 nz-typography class="warehouse-not-padding warehouse-not-margin warehouse-primary">
                            {{user?.user?.fullname}}</h2>
                    </div>
                </div>
                <br />
                <nz-form-item>
                    <nz-form-control nzErrorTip="Your password is required" nz-popover nzPopoverTitle="Password security"
                    [nzPopoverContent]="securityTemplate" nzPopoverPlacement="right">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordTemplate">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                                placeholder="Password" (ngModelChange)="handleOnChangePassword()" (click)="handleOnChangeInput()" />
                        </nz-input-group>
                        <ng-template #passwordTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template>
                        <ng-template #securityTemplate>
                            <warehouse-secure-password [password]="password" (notifyOnPassword)="handleOnNotifyPassword($event)"></warehouse-secure-password>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please confirm your password">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="confirmPasswordTemplate">
                            <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input
                                formControlName="confirmPassword" placeholder="Confirm password"
                                (click)="handleOnChangeInput()" />
                        </nz-input-group>
                        <ng-template #confirmPasswordTemplate>
                            <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [disabled]="!validateForm.valid || !isSecurePassword" nzBlock
                    class="reset-password-form-button reset-password-form-margin" [nzType]="'primary'">Reset my
                    password</button>
                <nz-divider nzDashed nzText="Already have an account?"></nz-divider>
                <button nz-button nzType="primary" (click)="handleOnLogin()" nzBlock>
                    <i nz-icon nzType="left" nzTheme="outline"></i>Log in</button>
            </form>
        </div>
    </div>
</div>