.warehouse-auth-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .login-form {
    //max-width: 300px;
    i {
      cursor: pointer;
    }
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-remember {
    left: 0;
    float: left;
  }
  .login-form-forgot {
    right: 0;
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
