warehouse-multilanguage {
  right: 0;
  margin: 25px;
  position: absolute;
  z-index: 1;
}

.warehouse-auth-wrapper {
  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-remember {
    left: 0;
    float: left;
  }
  .login-form-forgot {
    right: 0;
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}

.warehouse-remember-wrapper {
  width: 300px;
  p {
    text-align: justify;
  }
}

.warehouse-user-wrapper {
  width: 250px;
  p {
    margin: 0 !important;
    text-align: justify;
  }
}
