.warehouse-users-filter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-verified {
  font-weight: 600;
  color: var(--warehouse-white) !important;
  border-radius: var(--warehouse-border-radius-two);
  padding: 2px 10px;
  font-size: 13px;
}
