<div [formGroup]="searchForm" class="row warehouse-users-filter">
  <div class="col-md-2">
    <button nz-button (click)="handleOnExportUsers()" [nzType]="'primary'"><span nz-icon nzType="export"
        nzTheme="outline"></span> {{ "dataTable.filter.export" | translate }}</button>
  </div>
  <!-- Textual Search -->
  <div class="col-md-3 offset-md-6 mb-2">
    <nz-form-label></nz-form-label>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="search" [nzSuffix]="inputClearTpl">
          <input type="text" [(ngModel)]="search" nz-input formControlName="search"
            [placeholder]="'dataTable.options.search.users' | translate" (input)="handleOnSearchUsers()" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search"
            (click)="handleOnSearchClear()"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="col-md-1">
    <button (click)="handleOnShowHidePanel()" nz-button nzType="default" nzShape="circle"><span nz-icon nzType="more"
        nzTheme="outline"></span></button>
  </div>
  <div class="warehouse-users-filter-panel" *ngIf="showHidePanel">
    <div class="row warehouse-users-filter-panel-content" *ngFor="let headerTable of tmpHeadersTable; let i = index;">
      <div class="col-md-3">
        <nz-switch [(ngModel)]="headerTable.show" formControlName="selectedOption" [nzCheckedChildren]="checkedTemplate"
          (ngModelChange)="handleOnSelectedOption(i, $event)" [nzUnCheckedChildren]="unCheckedTemplate">
        </nz-switch>
      </div>
      <div class="col-md-9">
        {{headerTable.title}}
      </div>
      <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
      <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nz-collapse [nzExpandIconPosition]="'left'">
      <nz-collapse-panel [nzHeader]="'dataTable.options.search.advanced' | translate" [nzActive]="false"
        [nzExtra]="collapseContent" [nzDisabled]="false">
        <div [formGroup]="searchForm" class="row warehouse-not-margin warehouse-users-filter">
          <!-- Email Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="typeEmailVerification">{{"register.email.title" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedTypeEmail" [nzCustomTemplate]="typeEmailTemplate"
                  [nzPlaceHolder]="'dataTable.status.placeholder'| translate" formControlName="typeEmailVerification"
                  (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let typeEmailVerification of listOfTypeEmailVerification"
                    [nzValue]="typeEmailVerification?.value" [nzLabel]="typeEmailVerification?.label">
                    <span class="profile-verified" *ngIf="typeEmailVerification?.value !== 'all'"
                      [ngClass]="typeEmailVerification?.value ? 'warehouse-background-success' : 'warehouse-background-tomato'">
                      <i nz-icon nzType="{{typeEmailVerification?.value ? 'check-circle' : 'close-circle'}}"
                        nzTheme="outline"></i>
                    </span>
                    {{typeEmailVerification?.label}}
                  </nz-option>
                </nz-select>
                <ng-template #typeEmailTemplate let-selected>
                  <span class="profile-verified" *ngIf="selected?.nzValue !== 'all'"
                    [ngClass]="selected?.nzValue ? 'warehouse-background-success' : 'warehouse-background-tomato'">
                    <i nz-icon nzType="{{selected?.nzValue ? 'check-circle' : 'close-circle'}}" nzTheme="outline"></i>
                  </span>
                  {{ selected.nzLabel }}
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Email Pec Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="typeEmailPecVerification">{{"register.emailPec.title" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedTypeEmailPec" [nzCustomTemplate]="typeEmailTemplate"
                  [nzPlaceHolder]="'dataTable.status.placeholder'| translate" formControlName="typeEmailPecVerification"
                  (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let typeEmailVerification of listOfTypeEmailVerification"
                    [nzValue]="typeEmailVerification?.value" [nzLabel]="typeEmailVerification?.label">
                    <span class="profile-verified" *ngIf="typeEmailVerification?.value !== 'all'"
                      [ngClass]="typeEmailVerification?.value ? 'warehouse-background-success' : 'warehouse-background-tomato'">
                      <i nz-icon nzType="{{typeEmailVerification?.value ? 'check-circle' : 'close-circle'}}"
                        nzTheme="outline"></i>
                    </span>
                    {{typeEmailVerification?.label}}
                  </nz-option>
                </nz-select>
                <ng-template #typeEmailTemplate let-selected>
                  <span class="profile-verified" *ngIf="selected?.nzValue !== 'all'"
                    [ngClass]="selected?.nzValue ? 'warehouse-background-success' : 'warehouse-background-tomato'">
                    <i nz-icon nzType="{{selected?.nzValue ? 'check-circle' : 'close-circle'}}" nzTheme="outline"></i>
                  </span>
                  {{ selected.nzLabel }}
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Role Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="role">{{"register.role.title" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedRole" [nzCustomTemplate]="roleTemplate"
                  [nzPlaceHolder]="'register.role.placeholder'| translate" formControlName="role"
                  (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let role of listOfRoles" [nzValue]="role?.value"
                    [nzLabel]="role?.label">
                    <nz-tag *ngIf="role.value !== 'all'" [nzColor]="getObjectColor(role?.value)">
                      <i nz-icon [nzType]="getUserRoleIcon(role?.value)"></i>
                    </nz-tag>
                    {{ role?.label }}
                  </nz-option>
                </nz-select>
                <ng-template #roleTemplate let-selected>
                  <nz-tag *ngIf="selected?.nzValue !== 'all'" [nzColor]="getObjectColor(selected?.nzValue)">
                    <i nz-icon [nzType]="getUserRoleIcon(selected?.nzValue)"></i>
                  </nz-tag>
                  {{ selected.nzLabel }}
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Status Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="status">{{"profile.status" | translate }}
            </nz-form-label>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedStatus" [nzCustomTemplate]="statusTemplate"
                  [nzPlaceHolder]="'dataTable.status.placeholder'| translate" formControlName="status"
                  (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let status of listOfStatus" [nzValue]="status?.value"
                    [nzLabel]="status?.label">
                    <nz-badge [nzStatus]="status?.style"></nz-badge>
                    {{ status?.label }}
                  </nz-option>
                </nz-select>
                <ng-template #statusTemplate let-selected>
                  <nz-badge [nzStatus]="getUserStatusSelected(selected?.nzValue)"></nz-badge>
                  {{ selected.nzLabel }}
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Temporary Password Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="temporaryPassword">{{"message.verification.temporary.password.title" |
              translate }}
            </nz-form-label>
            <i nz-icon nzType="info-circle" nzTheme="twotone" nz-popover
              class="temporary-password-tootlip warehouse-cursor-pointer"
              [nzPopoverTitle]="'message.verification.temporary.password.tootlip.title' | translate"
              [nzPopoverContent]="temporaryPasswordContentTemplate" nzPopoverPlacement="right"></i>
            <ng-template #temporaryPasswordContentTemplate>
              <div class="warehouse-popover-wrapper">
                <p>{{'message.verification.temporary.password.tootlip.description' | translate }}
                </p>
              </div>
            </ng-template>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedPassword" [nzPlaceHolder]="'dataTable.status.placeholder'| translate"
                  formControlName="temporaryPassword" (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let genericType of listOfGenericType"
                    [nzValue]="genericType?.value" [nzLabel]="genericType?.label">
                    {{genericType?.label}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Users added by organization admin Search -->
          <div class="col-md-2">
            <nz-form-label nzFor="temporaryPassword">{{"message.verification.user.organization.title" |
              translate }}
            </nz-form-label>
            <i nz-icon nzType="info-circle" nzTheme="twotone" nz-popover
              class="temporary-password-tootlip warehouse-cursor-pointer"
              [nzPopoverTitle]="'message.verification.user.organization.tootlip.title' | translate"
              [nzPopoverContent]="organizationContentTemplate" nzPopoverPlacement="right"></i>
            <ng-template #organizationContentTemplate>
              <div class="warehouse-popover-wrapper">
                <p>{{'message.verification.user.organization.tootlip.description' | translate }}
                </p>
              </div>
            </ng-template>
            <nz-form-item>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedOrganizationUsers"
                  [nzPlaceHolder]="'dataTable.status.placeholder'| translate" formControlName="organizationUsers"
                  (ngModelChange)="handleOnSearchUsers()">
                  <nz-option nzCustomContent *ngFor="let genericType of listOfGenericType"
                    [nzValue]="genericType?.value" [nzLabel]="genericType?.label">
                    {{genericType?.label}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- Range createdAt Search -->
          <div class="col-md-3 warehouse-filter-range">
            <nz-form-label nzFor="createdAt">{{ "dataTable.filter.createdAt" | translate }}
            </nz-form-label>
            <nz-range-picker nzAllowClear="true" formControlName="createdAt" [nzFormat]="dateFormatOne"
              (ngModelChange)="handleOnSearchUsers()">
            </nz-range-picker>
          </div>
        </div>
        <div class="row warehouse-not-margin">
          <div class="col-md-1">
            <button nz-button nzType="primary" class="mt-2" (click)="handleOnResetFilter()">
              <i nz-icon nzType="clear" nzTheme="outline"></i>
              {{ "dataTable.options.reset" | translate }}
            </button>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <ng-template #collapseContent>
      <!-- You can use stopPropagation if you don't want the panel to toggle -->
      <i nz-icon nzType="filter" nzTheme="twotone" (click)="$event.stopPropagation()"></i>
    </ng-template>
  </div>
</div>
