.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: var(--warehouse-primary);
}

.logo {
  height: 32px;
  background: var(--warehouse-default);
  margin: 16px;
}

nz-header {
  background: var(--warehouse-white);
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
  nz-breadcrumb-item {
    i {
      top: -4px;
      position: relative;
    }
  }
}

.inner-content {
  padding: 24px;
  background: var(--warehouse-white);
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
