.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: var(--warehouse-primary);
}

.logo {
  height: 32px;
  background: var(--warehouse-default);
  margin: 16px;
}

nz-header {
  background: var(--warehouse-white);
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: var(--warehouse-white);
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.dashboard-home-wrapper {
  justify-content: center;
  align-items: center;
  display: inline-grid;
}

.fullRack {
  height: 50px;
  width: 100px;
  background-color: darksalmon;
}
.threePositionFree {
  height: 50px;
  width: 100px;
  background-color:#0eb306;
}
.onePositionFree {
  height: 50px;
  width: 100px;
  background-color:#c1eac1
}
.twoPositionFree {
  height: 50px;
  width: 100px;
  background-color:lightgreen;
}
.moreThanthreePositionFree {
  height: 50px;
  width: 100px;
  background-color:#e6e649;
}