<nz-breadcrumb>
    <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container-fluid dashboard-home-wrapper">
    <p *ngIf="!lanes.length"><warehouse-loading [typeLoad]="'info'"></warehouse-loading><p>
    <div class="row">
        <div class="col">one position free<p class="onePositionFree"></p></div>
        <div class="col">two position free<p class="twoPositionFree"></p></div>
        <div class="col">three position free<p class="threePositionFree"></p></div>
        <div class="col">more than three position free<p class="moreThanthreePositionFree"></p></div>
        <div class="col">Full Rack<p class="fullRack"></p></div>
    </div>
    <div class="row" *ngIf="!!lanes.length">
        <div class="col d-flex">
            <div *ngFor="let lane of lanes" class="column">
                <warehouse-vertical-lane  [lane]="lane"></warehouse-vertical-lane>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="lastLane">
        <div class="col column">
            <warehouse-horizontal-lane [lane]="lastLane"></warehouse-horizontal-lane>
        </div>
    </div>
</div>