.warehouse-auth-wrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .forgot-password-form {
    //max-width: 300px;
    i {
      cursor: pointer;
    }
  }

  .forgot-password-form-margin {
    margin-bottom: 16px;
  }

  .forgot-password-form-button {
    width: 100%;
  }
}
