<div class="warehouse-auth-wrapper container">
    <div class="row text-center">
        <div class="col">
            <h2 nz-typography>Forgot Password Page</h2>
        </div>
    </div>
    <div class="row" *ngIf="!isMailSent">
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col" *ngIf="isAuth">
                    <warehouse-alert [typeAlert]="alertType" [messageAlert]="messageAlert">
                    </warehouse-alert>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="forgot-password-form" (ngSubmit)="submitForm()">
                <p class="forgot-password-form-text" nz-typography>Saisissez l'adresse mail associée à votre compte
                    <b>Warehouse System.</b><br />
                    Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de
                    passe.
                </p>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your email!">
                        <nz-input-group nzPrefixIcon="mail">
                            <input type="email" nz-input formControlName="email" placeholder="Email" (click)="handleOnChangeInput()" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [disabled]="!validateForm.valid" nzBlock
                    class="forgot-password-form-button forgot-password-form-margin" [nzType]="'primary'">Send Reset Link</button>
                <nz-divider nzDashed nzText="Do you remember your credentials?"></nz-divider>
                <button nz-button nzType="primary" (click)="handleOnLogin()" nzBlock>
                    <i nz-icon nzType="left" nzTheme="outline"></i>Back to Login</button>
            </form>
        </div>
    </div>
    <div class="row forgot-password-mail-sent" *ngIf="isMailSent">
        <div class="col-md-4 offset-md-4">
            <div class="forgot-password-mail-sent-content">
                <i nz-icon nzType="mail" nzTheme="twotone" class="forgot-password-mail-sent-icon text-center"></i>
                <h4 nz-typography class="text-center"><b>Nous venons de vous envoyer un email à: </b></h4>
                <p nz-typography class="warehouse-success text-center">{{email}}</p>
                <p nz-typography>Celui-ci contient un <b>lien permettant de réinitialiser votre mot de passe</b></p>
                <h5 nz-typography><b>Vous n'avez pas récu de mail?</b></h5>
                <p nz-typography>Vérifiez bien l'orthographe de l'addresse saisie, ou que le mail n'est pas dans vos
                    indésirables.</p>
                <br />
                <button nz-button nzType="primary" (click)="handleOnLogin()" nzBlock>
                    <i nz-icon nzType="left" nzTheme="outline"></i>Back to Login</button>
            </div>
        </div>
    </div>
</div>