<div class="warehouse-auth-wrapper container">
    <div class="row">
        <div class="col">
            <h2 nz-typography>Forgot password page</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitFormModule()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your fullname!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="fullName" placeholder="First and last name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="userName" placeholder="Username" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your email!">
                        <nz-input-group nzPrefixIcon="mail">
                            <input type="email" nz-input formControlName="email" placeholder="Email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [disabled]="!validateForm.valid" nzBlock
                class="register-form-button register-form-margin" [nzType]="'primary'">Send</button>
            <nz-divider nzDashed nzText="Do you remember your credentials?"></nz-divider>
            <button nz-button nzType="default" (click)="returnOnLogin()" nzBlock>return to Login</button>
            </form>
        </div>
    </div>
</div>
