.multilanguage {
  width: 52px;
  height: 31px;
  border-radius: 5px;
  object-fit: cover;
}

.organization-referent {
  left: 10px;
  position: relative;
}

.profile-avatar {
  width: 100px;
  height: 100px;
}
