<div class="corsiaF">
    <div class="box">
      F
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+1}}</i>
        </button>
      </div>
    </div>
    <div class="box" style="margin-top: 50px;">
      F
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+7}}</i>
        </button>
      </div>
    </div>
  </div>