.warehouse-vertical {
  padding: 15px;
  .box-name{
    .laneName{
      cursor: pointer;}
}
  .first-box {
    .size {
      width: 50px;
      height: 50px;
      background: var(--warehouse-white);
      margin: 15px 15px 20px 0px;
      border-radius: var(--warehouse-border-radius-one);
      box-shadow: var(--warehouse-box-shadow);
      display: grid;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .second-box {
    margin-top: 50px;
    .size {
      width: 50px;
      height: 50px;
      background: var(--warehouse-white);
      margin: 15px 15px 20px 0px;
      border-radius: var(--warehouse-border-radius-one);
      box-shadow: var(--warehouse-box-shadow);
      display: grid;
      &:hover {
        box-shadow: none;
        //transition: var(--warehouse-transition);
      }
    }
    .box-name {
      margin-left: 2px;
      cursor: pointer;
    }
  }
}

.fullRack {
  background-color: darksalmon!important;
}
.threePositionFree {
  background-color:#0eb306!important;
}
.onePositionFree {
  background-color:#c1eac1!important;
}
.twoPositionFree {
  background-color:lightgreen!important;
}
.moreThanthreePositionFree {
  background-color:#e6e649!important;
}






