:host {
  overflow: hidden;
  padding: 0;
  display: block;
}

.card-container ::ng-deep p {
  margin: 0;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
  height: auto;
  margin-top: -16px;
}
.card-container
  ::ng-deep
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: var(--warehouse-white);
  padding: 16px;
}
.card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
  border-color: var(--warehouse-white);
  background: var(--warehouse-white);
}
