
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  background-color: #f1e9856b;   
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.size{
  width: 50px;
  height: 50px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 6%;
  padding: 10px;
  height: 724px; 
}

.columnBC {
  float: left;
  width: 3.5%;
  padding: 10px;
  height: 300px; 
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.perimeter {
  width: 98%;
  margin: 0 auto;
}
.block {
  width: 60px;
  float: left;
}