<warehouse-multilanguage></warehouse-multilanguage>
    <div class="warehouse-auth-wrapper container">
        <div class="row">
            <div class="col text-center">
                <h2 nz-typography>Register Page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <nz-steps [nzCurrent]="currentStep" nzSize="small">
                    <nz-step *ngFor="let step of steps" [nzTitle]="step"></nz-step>
                </nz-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="row">
                    <div class="col" *ngIf="isAuth">
                        <warehouse-alert [typeAlert]="alertType" [descriptionAlert]="messageAlert">
                        </warehouse-alert>
                    </div>
                </div>
                <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="upload your foto profile">
                            <nz-input-group>
                                <input *ngIf="showInputUpload" type="file" (change)="onFileChanged($event)" nz-input formControlName="image" placeholder="upload your foto profile"/>
                                <img [src]="imgURL" height="100" width="100" *ngIf="imgURL">
                                <input *ngIf="showbuttonUpload "type="button" (click)="onUploadFotoProfile()" value="upload">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <p>Date of Birth:</p>          
                            <nz-date-picker [(ngModel)]="date" formControlName="dateOfBirth" (ngModelChange)="handleOnChangeInput()"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Your phone number is required">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="number"  nz-input formControlName="phoneNumber" placeholder="Phone Number"
                                    (click)="handleOnChangeInput()" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Your phone country is required">
                            <nz-select nzAllowClear nzPlaceHolder="Select a country" formControlName="country"
                            [nzCustomTemplate]="multipleTemplate">
                            <nz-option *ngFor="let country of countries" [nzValue]="country.value" [nzLabel]="country.label">
                            </nz-option>
                        </nz-select>
                        <ng-template #multipleTemplate let-selected>
                            <div class="ant-select-selection-item-content">
                                {{ selected.nzLabel }}
                            </div>
                        </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button [disabled]="!validateForm.valid" nzBlock
                    class="register-form-button register-form-margin" [nzType]="'primary'">Save</button>
                </form>
            </div>
        </div>
    </div>