<div class="corsiaE">
    <div class="box">
      E
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+1}}</i>
        </button>
      </div>
    </div>
    <div class="box" style="margin-top: 22px;">
      E
      <div *ngFor="let time of rackOfFirstWay; index as i">
        <button class="btn btn-default size">
          <i class="bi bi-shop-window">{{i+7}}</i>
        </button>
      </div>
    </div>
  </div>