<warehouse-multilanguage></warehouse-multilanguage>
    <div class="warehouse-auth-wrapper container">
        <div class="row">
            <div class="col text-center">
                <h2 nz-typography>{{"register.title" | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <nz-steps [nzCurrent]="currentStep" nzSize="small">
                    <nz-step *ngFor="let step of steps" [nzTitle]="step"></nz-step>
                </nz-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <nz-result NzResultIconType="success" nzTitle="CONFIRMATION VERIFICATION EMAIL" [nzSubTitle]="'Hello your email has been verified, please click and complete the registration'">
                    <div nz-result-extra>
                        <ng-template #confirmMessage>
                            <div class="class" *ngFor="let data of onRetrieveUser()">
                                {{"register.verification.hello" | translate}} {{data.name}} {{"register.verification.message" | translate}}
                            </div>
                        </ng-template>
                        <nz-button-group [nzSize]="size">
                            <button nz-button nzType="primary" (click)="onGoToStepThree()">
                                <i nz-icon nzType="right"></i>
                                {{"button.goToSTepThree" | translate}}
                            </button>
                        </nz-button-group>
                    </div>
                </nz-result>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
