<table id="table-example-1" class="table table-bordered table-hover">
  <thead class="table-danger">
    <tr>
      <th rowspan="3">Genere prodotto</th>
      <th rowspan="3">Ripiani(shelves)</th>
      <th colspan="9">Posizione</th>
    </tr>
    <tr>
      <th *ngFor="let position of positions" colspan="3">{{position}}</th>
    </tr>
    <tr>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of model.component.Racktable; index as i">
      <td class="table-secondary">FOOD {{i+1}}</td>
      <td>{{i+1}}</td>
      <td>{{a.value1}}</td>
      <td>{{a.value2}}</td>
      <td>{{a.value3}}</td>
      <td>{{a.value4}}</td>
      <td>{{a.value5}}</td>
      <td>{{a.value6}}</td>
      <td>{{a.value7}}</td>
      <td>{{a.value8}}</td>
      <td>{{a.value9}}</td>
    </tr>
  </tbody>
</table>