<table id="table-example-1" class="table table-bordered table-hover">
  <thead class="table-danger">
    <tr>
      <th rowspan="3">Genere Prodotto</th>
      <th rowspan="3">Ripiani (Shelves)</th>
      <th colspan="9">Posizione</th>
    </tr>
    <tr>
      <th *ngFor="let position of positions" colspan="3">{{position}}</th>
    </tr>
    <tr>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
      <th colspan="1">Altezza</th>
      <th colspan="1">Lunghezza</th>
      <th colspan="1">Profondita</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rack of racks; index as i">
      <td class="table-secondary">{{typeProduct}}</td>
      <td>{{i+1}}</td>
      <td [ngClass]="getBackgroundColorOne(rack)">{{rack.rackOne}}</td>
      <td [ngClass]="getBackgroundColorOne(rack)">{{rack.rackTwo}}</td>
      <td [ngClass]="getBackgroundColorOne(rack)">{{rack.rackThree}}</td>
      <td [ngClass]="getBackgroundColorTwo(rack)">{{rack.rackFour}}</td>
      <td [ngClass]="getBackgroundColorTwo(rack)">{{rack.rackFive}}</td>
      <td [ngClass]="getBackgroundColorTwo(rack)">{{rack.rackSix}}</td>
      <td [ngClass]="getBackgroundColorThree(rack)">{{rack.rackSeven}}</td>
      <td [ngClass]="getBackgroundColorThree(rack)">{{rack.rackEight}}</td>
      <td [ngClass]="getBackgroundColorThree(rack)">{{rack.rackNine}}</td>
    </tr>  </tbody>
</table>

<fontawesome [iconType]="iconValues('{{typeProduct}}')"></fontawesome>