warehouse-multilanguage {
  right: 0;
  margin: 25px;
  position: absolute;
  z-index: 1;
}

.warehouse-auth-wrapper {
  .forgot-password-form {
    //max-width: 300px;
    .forgot-password-form-text {
      text-align: justify;
    }
    i {
      cursor: pointer;
    }
  }
  .forgot-password-mail-sent {
    display: flex;
    .forgot-password-mail-sent-content {
      text-align: justify;
      margin: 20px !important;
      padding: 35px !important;
      border-radius: var(--warehouse-border-radius-one);
      box-shadow: var(--warehouse-box-shadow);
      background: var(--warehouse-white);
      .forgot-password-mail-sent-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        padding-bottom: 15px;
      }
    }
  }

  .forgot-password-form-margin {
    margin-bottom: 16px;
  }

  .forgot-password-form-button {
    width: 100%;
  }
}
