
i {
    font-size: 80px;
    a{
        font-size: 17px;
    }
  }
  
.ng-star-inserted{
    margin: auto;
    width: 20px;
    height: 20px;
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


