<div class="vertical-lane">
    <div class="box first-box">
        <div class="box-name">{{lane.name}}</div>
        <div *ngFor="let row of lane.rows.slice(0,6)">
            <button class="btn btn-default size" (click)="onSelectedLane(row)">
                <i class="bi bi-shop-window">{{row.row}}</i>
            </button>
        </div>
    </div>
    <div class="box second-box">
        <div class="box-name">{{lane.name}}</div>
        <div *ngFor="let row of lane.rows.slice(6,12)">
            <button class="btn btn-default size" (click)="onSelectedLane(row)">
                <i class="bi bi-shop-window">{{row.row}}</i>
            </button>
        </div>
    </div>
</div>