.warehouse-not-margin {
  margin: 0 !important;
}

.warehouse-cursor-pointer {
  cursor: pointer !important;
}

.warehouse-not-padding {
  margin: 0 !important;
}

.warehouse-required {
  color: var(--warehouse-danger) !important;
}
