.warehouse-not-margin {
  margin: 0 !important;
}

.warehouse-cursor-pointer {
  cursor: pointer !important;
}

.warehouse-not-padding {
  margin: 0 !important;
}

.warehouse-required {
  color: var(--warehouse-danger) !important;
}

.warehouse-text-justify {
  text-align: justify !important;
}

.warehouse-text-underline {
  &:hover {
    text-decoration: underline !important;
  }
}