.warehouse-not-margin {
  margin: 0 !important;
}

.warehouse-cursor-pointer {
  cursor: pointer !important;
}

.warehouse-not-padding {
  margin: 0 !important;
}

.warehouse-required {
  color: var(--warehouse-danger) !important;
  left: 0px;
  position: relative;
  width: 10px;
  font-weight: 600;
}

.warehouse-text-justify {
  text-align: justify !important;
}

.warehouse-text-underline {
  &:hover {
    text-decoration: underline !important;
  }
}

.warehouse-header-hidden {
  display: none !important;
}