<warehouse-breadcrumb [items]="breadcrumbItems"></warehouse-breadcrumb>
<nz-tabset nzType="card" [nzSelectedIndex]="activeTab" (nzSelectChange)="handleOnSelectTab($event)">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" [nzDisabled]="tab.disabled">
        <ng-template #titleTemplate>
            <span nz-icon [nzType]="tab.icon"></span>
            {{ tab.name | translate }}
        </ng-template>
        <span *ngIf="activeTab === 0">
            <warehouse-change-password></warehouse-change-password>
        </span>
        <span *ngIf="activeTab === 1">
            <warehouse-recovery-email></warehouse-recovery-email>
        </span>
    </nz-tab>
</nz-tabset>