<nz-layout>
  <!-- <app-dashboard-sider [isCollapsed]="isCollapsed" (handleOnNotifyNavigation)="handleOnNavigate($event)">
  </app-dashboard-sider> -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
    [ngClass]="theme ? 'ant-layout-sider-dark' : 'ant-layout-sider-light'">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="theme ? 'dark' : 'light'" [nzMode]="mode ? 'vertical' : 'inline'">
      <li nz-menu-item (click)="handleOnNavigate('dashboard')">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <app-dashboard-header [isCollapsed]="isCollapsed" (handleOnNotifyNavigation)="handleOnNavigate($event)"
      (handleOnNotifyCollapsed)="handleOnCollapsed($event)">
    </app-dashboard-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-divider class="warehouse-background-sliver"></nz-divider>
    <nz-footer>Warehouse ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<div class="row" *ngIf="isLogout">
  <div class="col">
      <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert"
          [descriptionNotification]="descriptionAlert">
      </warehouse-notification>
  </div>
</div>