<nz-layout>
  <!-- <warehouse-dashboard-sider [isCollapsed]="isCollapsed" (handleOnNotifyNavigation)="handleOnNavigate($event)">
  </warehouse-dashboard-sider> -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
    [ngClass]="theme ? 'ant-layout-sider-dark' : 'ant-layout-sider-light'">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="theme ? 'dark' : 'light'" [nzMode]="mode ? 'vertical' : 'inline'">
      <li nz-menu-item (click)="handleOnNavigate('dashboard')">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li *ngIf="this.checkRole === undefined? false:true" nz-submenu nzTitle="{{'Users' | translate}}" nzIcon="user">
        <ul>
          <li nz-menu-item (click)="handleOnUser('dashboard/users')">{{'All users'| translate}}</li>
          <li nz-menu-item (click)="handleOnAddUser()">{{'Add new user' | translate}}</li>
          <!-- <li nz-menu-item>Alex</li> -->
        </ul>
      </li>
      <li nz-submenu nzTitle="{{'Team'| translate}}" nzIcon="team">
        <ul>
          <li nz-menu-item>{{'Team 1'| translate}}</li>
          <li nz-menu-item>{{'Team 2'| translate}}</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <warehouse-dashboard-header [isCollapsed]="isCollapsed" (handleOnNotifyNavigation)="handleOnNavigate($event)"
      (handleOnNotifyCollapsed)="handleOnCollapsed($event)">
    </warehouse-dashboard-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-divider class="warehouse-background-sliver warehouse-not-margin-bottom"></nz-divider>
    <nz-footer>Warehouse ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<div class="row" *ngIf="isLogout">
  <div class="col">
    <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert"
      [descriptionNotification]="descriptionAlert">
    </warehouse-notification>
  </div>
</div>
<div class="row" *ngIf="isAuth">
  <div class="col">
      <warehouse-alert [typeAlert]="alertType" [descriptionAlert]="messageAlert">
      </warehouse-alert>
  </div>
</div>
<div class="row" *ngIf="isValidToken">
  <div class="col">
    <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert" [descriptionModal]="descriptionAlert"
      (handleOnOkModal)="handleOnOkModal($event)"></warehouse-modal>
  </div>
</div>