<!-- <nz-breadcrumb>
  <nz-breadcrumb-item (click)="handleOnNavigate('dashboard')">
    <i nz-icon nzType="dashboard"></i>
    <a>Dashboard</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>My Profile</a>
  </nz-breadcrumb-item>
</nz-breadcrumb> -->
<warehouse-breadcrumb *ngIf="mode !== 'datatable'" [items]="breadcrumbItems"></warehouse-breadcrumb>
<div class="container-fluid profile-wrapper" *ngIf="dataUser">
  <div class="row" *ngIf="isAuth">
    <div class="col">
      <warehouse-notification [typeNotification]="alertType" [messageNotification]="messageAlert">
      </warehouse-notification>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img alt="Warehouse Background Cover" class="profile-background-cover" *ngIf="!coverURL"
        src="../../../../../assets/images/image_placeholder.jpg" />
      <img alt="Warehouse Background Cover" class="profile-background-cover" *ngIf="coverURL" [src]="coverURL" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 profile-avatar-container">
      <div class="row">
        <div class="col">
          <nz-avatar *ngIf="!avatarURL" class="profile-avatar" nzIcon="user">
          </nz-avatar>
          <nz-avatar *ngIf="avatarURL" class="profile-avatar" [nzSrc]="avatarURL">
          </nz-avatar>
          <span class="profile-status">
            <nz-badge class="profile-status-large" nz-tooltip
              nzTooltipTitle="{{firstLetterUpperCase(dataUser.userInfo.status)}}" nzTooltipPlacement="bottomLeft"
              nzStatus="{{ getObjectStatus(dataUser.userInfo.status) }}"></nz-badge>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col profile-view-pdf">
          <button nz-button (click)="onViewProfilePdf()" [nzType]="'primary'"><span nz-icon nzType="file-pdf"
              nzTheme="outline"></span> View your profile on pdf</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row mt-3 profile-user">
        <div class="col-md-3">
          <p class="profile-title" nz-typography>{{ "register.username.title" | translate }}</p>
          <h3 class="profile-title" nz-typography>{{ firstLetterUpperCase(dataUser?.username) }}</h3>
        </div>
        <div class="col-md-3">
          <p class="profile-title" nz-typography>{{ "profile.personalData.userId" | translate }}</p>
          <h3 class="profile-title" nz-typography>{{ dataUser?.userId }}</h3>
        </div>
        <div class="col-md-3">
          <p class="profile-title" nz-typography>{{ "profile.personalData.createdAt" | translate }}</p>
          <h3 class="profile-title" nz-typography>{{ getUserDateCreation(dataUser?.createdAt) }}</h3>
        </div>
        <div class="col-md-3">
          <p class="profile-title" nz-typography>{{"profile.role" | translate}}</p>
          <h3 class="profile-title" nz-typography>
            <nz-tag *ngFor="let role of dataUser?.roles" [nzColor]="getUserColorRole(role)">
              <i nz-icon [nzType]="getUserRoleIcon(role)"></i>
              {{ getUserRoleName(role) }}
            </nz-tag>
          </h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <nz-alert nzType="info" nzMessage="{{'profile.lastLoginMessage' | translate}} {{ getFormatUserLastLogin(dataUser?.lastLogin)
          }}"></nz-alert>
        </div>
      </div>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-md-12 profile-personal-data">
      <h2 class="profile-title" nz-typography>{{"profile.personalData.title" | translate}}</h2>
      <nz-divider class="warehouse-background-primary warehouse-not-padding warehouse-not-margin"></nz-divider>
      <div class="row mb-2">
        <div class="col-md-3 mt-3">
          <label class="mb-2">{{"register.gender.placeholder" | translate }}</label><br />
          <nz-switch [ngModel]="dataUser?.gender === 'Male' ? 1 : 0" [disabled]="true"
            [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate">
          </nz-switch>
          <ng-template #checkedTemplate><i class="m-1" nz-icon nzType="man"
              nzTheme="outline"></i>{{'register.gender.male' |
            translate}}</ng-template>
          <ng-template #unCheckedTemplate><i class="m-1" nz-icon nzType="woman"
              nzTheme="outline"></i>{{'register.gender.female' |
            translate}}</ng-template>
        </div>
        <div class="col-md-4 mt-3">
          <label class="mb-2">{{"profile.personalData.fullname" | translate }}</label>
          <nz-input-group nzPrefixIcon="user">
            <input nz-input [value]="dataUser?.fullname ? dataUser?.fullname : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
        <div class="col-md-4 mt-3">
          <label class="mb-2">{{ "profile.personalData.userId" | translate }}</label>
          <nz-input-group nzPrefixIcon="safety">
            <input nz-input [value]="dataUser?.userId ? dataUser?.userId : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-3 mt-3">
          <label class="mb-2">{{"profile.personalData.dateOfBorn" | translate }}</label>
          <nz-input-group nzPrefixIcon="calendar">
            <input nz-input
              [value]="dataUser?.dateOfBirth ? getFormatDateOfBirth(dataUser?.dateOfBirth) : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
        <div class="col-md-4 mt-3">
          <div class="row">
            <div class="col-md-2 profile-flag-country" *ngIf="dataUser?.address?.country">
              <label class="mb-2"></label>
              <img class="multilanguage" [src]="handleOnCountryFlagSelected(dataUser?.address?.country)" />
            </div>
            <div [ngClass]="dataUser?.address?.country ? 'col-md-10' : 'col-md-12'">
              <label class="mb-2">{{"profile.personalData.country" | translate }}</label>
              <nz-input-group nzPrefixIcon="flag">
                <input nz-input
                  [value]="dataUser?.address?.country ? dataUser?.address?.country : 'profile.empty' | translate"
                  [disabled]="true" />
              </nz-input-group>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <label class="mb-2">{{"profile.personalData.city" | translate }}</label>
          <nz-input-group nzPrefixIcon="home">
            <input nz-input [value]="dataUser?.address?.state ? dataUser?.address?.state : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
        <div class="col-md-2 mt-3">
          <label class="mb-2">{{"profile.personalData.zip" | translate }}</label>
          <nz-input-group nzPrefixIcon="field-number">
            <input nz-input
              [value]="dataUser?.address?.zipCode ? dataUser?.address?.zipCode : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-8 mt-3">
          <label class="mb-2">{{"profile.personalData.address" | translate }}</label>
          <nz-input-group nzPrefixIcon="environment">
            <input nz-input
              [value]="dataUser?.address?.addressLine ? dataUser?.address?.addressLine : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
      </div>
    </div>
    <div class="col-md-12 profile-personal-contact">
      <h2 class="profile-title" nz-typography>{{"profile.personalContact.title" | translate}}</h2>
      <nz-divider class="warehouse-background-primary warehouse-not-padding warehouse-not-margin"></nz-divider>
      <div class="row mb-2">
        <div class="col-md-6 mt-3">
          <label class="mb-2">
            {{"profile.personalContact.personalEmail" | translate }}
            <span class="profile-verified"
              [ngClass]="dataUser?.userInfo?.emailVerified ? 'warehouse-background-success' : 'warehouse-background-tomato'">
              <i nz-icon nzType="{{dataUser?.userInfo?.emailVerified ? 'check-circle' : 'close-circle'}}" nzTheme="outline"></i>
              {{(dataUser?.userInfo?.emailVerified ? "profile.verified" : "profile.notVerified") | translate}}
            </span>
          </label>
          <nz-input-group nzPrefixIcon="mail">
            <input nz-input [value]="dataUser?.email ? dataUser?.email : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
        <div class="col-md-6 mt-3">
          <label class="mb-2">
            <i nz-icon nzType="info-circle" nzTheme="twotone" nz-popover class="warehouse-cursor-pointer"
              [nzPopoverTitle]="'profile.personalContact.popover.title' | translate"
              [nzPopoverContent]="emailContentTemplate" nzPopoverPlacement="right"></i>
            <ng-template #emailContentTemplate>
              <div class="warehouse-popover-wrapper">
                <p>{{'profile.personalContact.popover.contentOne' | translate }}</p>
                <p><b>{{'profile.personalContact.popover.contentTwo' | translate }}</b></p>
              </div>
            </ng-template>
            {{"profile.personalContact.otherPersonalEmail" | translate }}
            <span *ngIf="!!dataUser?.emailPec?.length" class="profile-verified"
              [ngClass]="dataUser?.userInfo?.emailPecVerified ? 'warehouse-background-success' : 'warehouse-background-tomato'">
              <i nz-icon nzType="{{dataUser?.userInfo?.emailPecVerified ? 'check-circle' : 'close-circle'}}"
                nzTheme="outline"></i>
              {{(dataUser?.userInfo?.emailPecVerified ? "profile.verified" : "profile.notVerified") | translate}}
            </span>
          </label>
          <nz-input-group nzPrefixIcon="mail">
            <input nz-input [value]="dataUser?.emailPec ? dataUser?.emailPec : 'profile.empty' | translate"
              [disabled]="true" />
          </nz-input-group>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 mt-3">
          <div class="row">
            <div class="col-md-3 profile-flag-country" *ngIf="dataUser?.contact?.phonePrefix">
              <label class="mb-2"></label>
              <img class="multilanguage" [src]="handleOnCountryFlagSelected(dataUser?.address?.country)" />
              <span class="profile-flag-phone-prefix">{{dataUser?.contact?.phonePrefix}}</span>
            </div>
            <div [ngClass]="dataUser?.contact?.phonePrefix ? 'col-md-6' : 'col-md-12'">
              <label class="mb-2">{{"profile.personalContact.mobilePhone" | translate }}</label>
              <nz-input-group nzPrefixIcon="mobile">
                <input nz-input
                  [value]="dataUser?.contact?.phoneNumber ? dataUser?.contact?.phoneNumber : 'profile.empty' | translate"
                  [disabled]="true" />
              </nz-input-group>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="row">
            <div class="col-md-3 profile-flag-country" *ngIf="dataUser?.contact?.landlinePrefix">
              <label class="mb-2"></label>
              <img class="multilanguage" [src]="handleOnFlagByPrefixCode(dataUser?.contact?.landlinePrefix)" />
              <span class="profile-flag-phone-prefix">{{dataUser?.contact?.landlinePrefix}}</span>
            </div>
            <div [ngClass]="dataUser?.contact?.landlinePrefix ? 'col-md-6' : 'col-md-12'">
              <label class="mb-2">{{"profile.personalContact.landlinePhone" | translate }}</label>
              <nz-input-group nzPrefixIcon="phone">
                <input nz-input
                  [value]="dataUser?.contact?.landlineNumber ? dataUser?.contact?.landlineNumber : 'profile.empty' | translate"
                  [disabled]="true" />
              </nz-input-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-divider *ngIf="mode !== 'datatable'" class="warehouse-background-sliver"></nz-divider>
  <div *ngIf="mode !== 'datatable'" class="row mb-4">
    <div class="col-md-12 mt-3">
      <button nz-button (click)="handleOnBack()" class="profile-back" nzType="primary" nzDanger>
        <i nz-icon nzType="left" nzTheme="outline"></i>{{'dashboard.cta.back' | translate}}</button>
      <button *ngIf="enableEdit" nz-button (click)="handleOnEdit()" class="profile-edit" [nzType]="'primary'">
        <i nz-icon nzType="edit" nzTheme="outline"></i>{{'dashboard.cta.edit' | translate}}</button>
      <button *ngIf="!enableEdit" nz-button (click)="handleOnSave()" class="profile-edit" [nzType]="'primary'">
        {{'button.save' | translate}}</button>
      <button nz-button (click)="handleOnChangePassword()" class="profile-change-password" [nzType]="'default'">
        <i nz-icon nzType="lock" nzTheme="outline"></i>{{'changePassword.cta' | translate}}</button>
    </div>
  </div>
  <div class="row" *ngIf="isExpiredToken">
    <div class="col">
      <warehouse-modal [okTextModal]="okText" [typeModal]="alertType" [messageModal]="messageAlert"
        [descriptionModal]="descriptionAlert" (handleOnOkModal)="handleOnOkModal($event)"></warehouse-modal>
    </div>
  </div>
</div>
