.profile-wrapper {
  padding: 50px 0 0;
  position: relative;
  .profile-background-cover {
    width: 100%;
    height: 300px;
  }
  .profile-avatar {
    width: 150px;
    height: 150px;
    float: right;
    top: -70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid var(--warehouse-white);
  }
  .profile-user {
    .profile-title {
      padding: 0;
      margin: 0;
    }
  }
  .profile-content {
    top: 50px;
    position: relative;
    margin: 0 30px;
    .profile-personal-data,
    .profile-personal-contact {
      margin-bottom: 50px;
      .profile-verified {
        font-weight: 600;
      }
    }
  }
  .profile-edit,
  .profile-change-password {
    float: right;
  }
  .profile-change-password {
    right: 20px;
  }
}

.ant-input-disabled,
.ant-input[disabled] {
  font-size: 18px;
  font-weight: 500;
}

.card-profile {
  .descript {
    font-weight: 700;
    text-decoration: none !important;
    color: var(--warehouse-black);
  }
}
