.profile-wrapper {
  padding: 20px 0 0;
  position: relative;
  .profile-background-cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--warehouse-border-radius-one);
    border: 2px solid var(--warehouse-sliver);
  }
  .profile-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-avatar {
      width: 150px;
      height: 150px;
      float: right;
      top: -70px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 5px solid var(--warehouse-white);
      font-size: 50px;
    }
    .profile-status {
      left: -35px;
      position: relative;
      top: -15px;
      .profile-status-large {
        .ant-badge-status-dot {
          width: 15px !important;
          height: 15px !important;
        }
      }
    }
  }
  .profile-user {
    .profile-title {
      padding: 0;
      margin: 0;
    }
  }
  .profile-content {
    top: 50px;
    position: relative;
    margin: 0 30px;
    .profile-personal-data,
    .profile-personal-contact {
      margin-bottom: 50px;
      .profile-verified {
        font-weight: 600;
        color: var(--warehouse-white) !important;
        border-radius: var(--warehouse-border-radius-two);
        padding: 2px 10px;
        font-size: 13px;
      }
      .profile-flag-country {
        display: flex;
        justify-content: start;
        align-items: center;
        .profile-flag-phone-prefix {
          top: 15px;
          position: relative;
          left: 5px;
        }
      }
    }
  }
  .profile-edit,
  .profile-change-password {
    float: right;
  }
  .profile-change-password {
    right: 20px;
  }
}

.card-profile {
  .descript {
    font-weight: 700;
    text-decoration: none !important;
    color: var(--warehouse-black);
  }
}

.multilanguage {
  width: 52px;
  height: 31px;
  top: 15px;
  position: relative;
  border-radius: 5px;
  object-fit: cover;
}

.warehouse-popover-wrapper {
  width: 250px;
  p {
    text-align: justify;
  }
}
